### Q1. Create one variable containing following type of data:

In [3]:
a='bhavesh'
b=['ram','shayam',5,7,8.2]
c=4.58955
d=(5,6)
print(a ,b ,c , d)
print(type(d))

bhavesh ['ram', 'shayam', 5, 7, 8.2] 4.58955 (5, 6)
<class 'tuple'>

### Q2. Given are some following variables containing data:

(i)	var1 = ‘ ‘

(ii)	var2 = ‘[ DS , ML , Python]’

(iii)	var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

(iv)	var4 = 1

In [10]:
print( "String", 'String', "list", "int " "respectively")

String String list int respectively

### Q3. Explain the use of the following operators using an example:

In [19]:
print(" / used to divide one number by other like 10 by 3 = ",10/3)
print(" % used to find the reminder when we divide one number by other like 10 by 3 = ",10%3)
print(" // used to divide one number by other, but to get only integer part like 10 by 3 = ",10//3)
print(" ** used to do the mathematical operation like x raised to the power y like 2**3  = ",2**3)

 / used to divide one number by other like 10 by 3 =  3.3333333333333335
 % used to find the reminder when we divide one number by other like 10 by 3 =  1
 // used to divide one number by other, but to get only integer part like 10 by 3 =  3
 ** used to do the mathematical operation like x raised to the power y like 2**3  =  8

In [24]:
list=[5,6,4,8,2,"nnx","jnjn","mxxjnj",4.58,5.9855555]

In [26]:
len(list)

10

In [27]:
for i in list:
    print(i, type(i))

5 <class 'int'>
6 <class 'int'>
4 <class 'int'>
8 <class 'int'>
2 <class 'int'>
nnx <class 'str'>
jnjn <class 'str'>
mxxjnj <class 'str'>
4.58 <class 'float'>
5.9855555 <class 'float'>

In [28]:
2%3

2

In [39]:
a=81
b=3
i=0
while 1:
    if a%b==0:
        a=a/b
        i=i+1
    else:
        print(" a is purely divisible by b and", i ,"times")
        break

 a is purely divisible by b and 4 times

In [1]:
list

list

In [6]:
l_list = list(range(1,26))
type(l_list)
l_list

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25]

In [8]:
for i in range(len(l_list)):
    if l_ist[i]%3==0:
        print(l_list[i], "is divisible by 3")
    else:
        print(l_list[i], "is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

### datatypes which can't be changed later like string and tuple are called immutable, and just opposite of this is mutable  fro ex

In [11]:
string='ram'
string[0]='p'

TypeError: 'str' object does not support item assignment

In [14]:
x=(5,6,7)
x[0]

5

In [15]:
x[0]=6

TypeError: 'tuple' object does not support item assignment